<!doctype html>
<html>
    <body>
        <h1> New User Signup (Tracey Cannon)</h1>
        <form action="/signup" method="POST">
        
            <label for="username">Username:</label>
            <input name="username" type="text" value='{{username}}' />

            <label for"password">Password:</label>
            <input id ="password" type="password" name="password" value="{{password}}" />
            <p class="error">{{password_error}}</p>

            <label for"verify">Verify Password:</label>
            <input id ="verify" type="password" name="verify" value="{{verify}}" />
            <p class="error">{{verify_error}}</p>

            <label for"email">Email (optional):</label>
            <input id ="email" type="text" name="email" value="{{email}}" />
            <p class="error">{{email_error}}</p>

            <input type="submit" name="submit" value="signup" />


            
        </form>
    </body>
</html>